<br>
<span>
    Esta lista de deseos se almacena en la memoria de tu navegador. Por lo que, al acceder o no a una cuenta siempre existirá.
</span>
<br><br>
<table class="table">
    <thead>
        <tr>
            <th>Nombre del producto</th>
            <th>Descripción</th>
            <th>Precio ($)</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productos">
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>${{producto.precio}}</td>
            <td>
                <img [src]="getImage(producto.img)" alt="Producto" width="100px">
            </td>
            <td>
                <button class="btn btn-danger" (click)="quitLS(producto)">
                    Quitar de la lista
                </button>
            </td>
        </tr>
        <tr *ngIf="productos.length == 0">
            <td colspan="5">
                No hay productos para mostrar.
            </td>
        </tr>
    </tbody>
</table>