<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <button type="button" class="btn btn-primary">Agregar categoría</button>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="categoriaSearch">Buscar categoría</label>
                <input type="text" class="form-control" id="categoriaSearch" placeholder="Escribe algo aquí...">
            </div>
        </div>
    </div>
    <div class="container">
        
    </div>
</div>