<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5>Información del perfil</h5>
                    <div class="container">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nombre">Nombres</label>
                                        <input [(ngModel)]="usuario.nombre" type="text" id="nombre" name="nombre" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="apellido">Apellidos</label>
                                        <input [(ngModel)]="usuario.apellido" type="text" name="apellido" id="apellido" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">Correo electrónico</label>
                                        <input [value]="usuario.correo" readonly="true" name="email" type="email" id="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="fechanac">Fecha de nacimiento</label>
                                        <input [ngModel]="usuario.fecha_nac | date:'yyyy-MM-dd'" [(ngModel)]="usuario.fecha_nac" type="date" name="fechanac" id="fechanac" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="gen">Género</label>
                                        <select [(ngModel)]="usuario.genero" name="gen" name="gen" id="gen" class="form-control">
                                            <option value="0" disabled selected>Sin seleccionar</option>
                                            <option value="1" selected>Hombre</option>
                                            <option value="2">Mujer</option>
                                            <option value="3">Otro</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tel">Teléfono</label>
                                        <input [(ngModel)]="usuario.telefono" name="tel" type="text" id="tel" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dui">DUI</label>
                                        <input [(ngModel)]="usuario.dui" name="dui" type="text" id="dui" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="dir">Dirección</label>
                                        <textarea [(ngModel)]="usuario.direccion" name="dir" name="dir" id="dir" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="div-block">
                                <span class="div-flex"></span>
                                <button class="btn btn-primary" [disabled]="isAllowed || isLoad" (click)="save()">
                                    Guardar cambios
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>