    <div class="wrapper wrapper-full-page" style="height: 100%;">
    <div class="full-page section-image background-flash" style="background-image: url(assets/img/ecommerce.jpg);" filter-color="blue">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
        <div class="container">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <form class="form" method="" action="">
                <div class="card card-login">
                <div class="card-header ">
                    <div class="card-header ">
                    <h3 class="header text-center">Iniciar sesión</h3>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                        <i class="nc-icon nc-single-02"></i>
                        </span>
                    </div>
                    <input type="email" class="form-control" placeholder="Correo electrónico">
                    </div>
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                        <i class="nc-icon nc-key-25"></i>
                        </span>
                    </div>
                    <input type="password" placeholder="Contraseña" class="form-control">
                    </div>
                </div>
                <div class="card-footer ">
                    <button class="btn btn-round btn-block mb-3">
                    <b>INICIAR SESIÓN</b>
                    </button>
                </div>
                </div>
            </form>
            </div>
        </div>
        </div>
        <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
            <div class="row">
            <div class="credits ml-auto">
                <span class="copyright">
                © Stryfe CCQ
                </span>
            </div>
            </div>
        </div>
        </footer>
    </div>
    </div>