<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">Stryfe</a>
        <a class="navbar-brand">
            {{producto.nombre}}
        </a>
    </div>
</nav>
<div class="container" style="background-color: #f4f3ef; border-radius: 10px;">
    <div class="row">
        <div class="card" style="margin: 30px; padding: 10px; width: 100%;">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img [src]="getImage(producto.img)" alt="{{producto.nombre}}" style="max-width: 100%;">
                        </div>
                        <div class="col-md-8">
                            <h1>{{producto.nombre}}</h1>
                            <p>
                                {{producto.descripcion}}
                            </p>
                            
                            <h3>${{producto.precio}}</h3>
                            <div class="div-block">
                                <span class="div-flex"></span>
                                <button title="Agregar al carrito" class="btn btn-primary" (click)="agregarAlCarrito(producto)" *ngIf="!isInCarrito(producto) && !isAdmin">
                                    <span class="nc-icon nc-cart-simple"></span>
                                </button>
                                <button title="Ver carrito" title="Carrito" class="btn btn-primary" [routerLink]="['/me', 'carrito']" *ngIf="isInCarrito(producto)">
                                    <span class="nc-icon nc-check-2"></span>
                                </button>
                                <button title="Agregar a lista de deseos" class="btn btn-secondary" *ngIf="!isExistLD(producto) && !isAdmin" (click)="agregarAListaDeseos(producto)">
                                    <span class="nc-icon nc-bookmark-2"></span>
                                </button>
                                <button title="Quitar de lista de deseos" *ngIf="isExistLD(producto)" (click)="quitarDeListaDeseos(producto)"
                                    class="btn btn-danger">
                                    <span class="nc-icon nc-basket"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-primary" id="carritoModal" tabindex="-1" role="dialog" aria-labelledby="xyz" aria-hidden="true">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-login card-plain">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-title text-center">
                        <h5>Carrito de compras</h5>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" onsubmit="return false">
                        <div class="card-body">
                            <label for="carritoCantidad">
                                Cantidad de producto
                            </label>
                            <br>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="nc-icon nc-book-bookmark"></i></span>
                                </div>
                                <input id="carritoCantidad" type="number" [(ngModel)]="value.cantidad" class="form-control"
                                    placeholder="Cantidad" name="carritoCantidad">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center">
                    <div class="row" style="width: 100%; margin-right: 0px;">
                        <div class="col">
                            <a data-dismiss="modal" class="btn btn-default btn-round btn-block">Cancelar</a>
                        </div>
                        <div class="col">
                            <a (click)="guardarAlCarrito()" class="btn btn-success btn-round btn-block">Agregar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>