<br>
<table class="table">
    <thead>
        <tr>
            <th>Referente de pago</th>
            <th>Estado</th>
            <th>Forma de pago</th>
            <th>Monto ($)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let orden of ordenes">
            <td>{{orden.token_verif}}</td>
            <td>{{getStatus(orden.id_estado)}}</td>
            <td>{{getFormaPago()}}</td>
            <td>${{orden.monto_total | number}}</td>
        </tr>
        <tr *ngIf="ordenes.length == 0">
            <td colspan="4">No se encontraron compras recientes.</td>
        </tr>
    </tbody>
</table>