<div class="container-fluid absolute">
    <div class="row">
        <div class="col-3 mark-line">
            <h4 class="mark-line-bottom">Bandeja de mensajes</h4>
            <div class="container">
                <div class="row down-all">

                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="container-fuild">
                <h4>Empleado de Stryfe</h4>
                <div class="row">
                    <div class="col-12 box-input">
                        <input type="text" class="form-control" placeholder="Escribe el mensaje aquí">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>